asgiref==3.9.1
crispy-bootstrap4==2025.6
crispy-bootstrap5==2025.6
Django==5.2.5
django-crispy-forms==2.4
django-json-widget==2.0.3
et_xmlfile==2.0.0
gunicorn==23.0.0
openpyxl==3.1.5
packaging==25.0
pillow==11.3.0
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
waitress==3.0.2
