{% if user.is_authenticated %}
<!-- Sidebar -->
<div class="d-flex flex-column bg-light" style="width: 250px; height: 100vh;">
  <div class="text-center mb-3">
      <img src="{{ user.profile.profile_picture.url }}" alt="Profile" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover;">
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'dashboardView' %}" class="nav-link text-dark">
        <i class="fas fa-home me-2"></i>Dashboard
      </a>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item">
      <a href="{% url 'analytics_view' %}" class="nav-link text-dark">
        <i class="fas fa-chart-bar me-2"></i>Analytics
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'add_user' %}" class="nav-link text-dark">
        <i class="fas fa-user-plus me-2"></i>Add User
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'create_field_template' %}" class="nav-link text-dark">
        <i class="fas fa-cogs me-2"></i>Create Field Templates
      </a>
    </li>
    <li class="nav-item">
          <a class="nav-link text-dark" href="/chat/">
            <i class="fa fa-comments ms-1"></i> Chat
          </a>
    </li>
    {% endif %}
    
  </ul>
</div>
{% endif %}

